html, body, .push-content, .map {
 z-index: 0;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

.ol-control {
 background: rgba(0, 0, 0, 0);
}

.ol-control:hover {
 background: rgba(0, 0, 0, 0);
}

.ol-zoom .ol-zoom-in, .ol-zoom .ol-zoom-out {
 background: #ffffff;
 color: #000000;
 border: 2px solid #0000ff;
 width: 50px;
 height: 50px;
 margin: 0;
}

.no-touch .ol-control button:hover {
 background: rgba(0, 60, 136, 0.7);
 color: #ffffff;
}

.touch .ol-control button:active {
 background: rgba(0, 60, 136, 0.7);
 color: #ffffff;
}

.touch .ol-control button:hover {
 background: #ffffff;
 color: #000000;
}

.touch .ol-control button:focus {
 background: #ffffff;
 color: #000000;
}

.touch button {
 outline: 0;
}

.ol-zoom .ol-zoom-in {
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 border-bottom-width: 0px;
}

.ol-zoom .ol-zoom-out {
 border-bottom-left-radius: 50%;
 border-bottom-right-radius: 50%;
 border-top-width: 0px;
}

.ol-attribution {
 display: none;
}

.ol-control .ol-rotate-reset {
 height: 50px;
 width: 50px;
 background: #ffffff;
 color: #000000;
 border-radius: 50%;
 border: 2px solid #0000ff;
}

.ol-rotate {
 position: fixed;
 right: unset;
 top: unset;
 left: 0;
 bottom: 0;
 margin: 8px; 
}

.no-touch .ol-control .ol-rotate-reset:hover {
 background: rgba(0, 60, 136, 0.7);
 color: #ffffff;
}

.touch .ol-control .ol-rotate-reset:active {
 background: rgba(0, 60, 136, 0.7);
 color: #ffffff;
}

#controlMarker {
 position: absolute;
 z-index: 1;
 width: 50px;
 height: 50px;
 background: #ffffff;
 color: #000000;
 border-radius: 50%;
 border: 2px solid #0000ff;
 margin: 10px;
 left: 0;
 top: 120px;
}

.no-touch #controlMarker:hover {
 background: rgba(0, 60, 136, 0.7) !important;
 color: #ffffff !important;
}

#controlCenter {
 position: absolute;
 z-index: 1;
 width: 50px;
 height: 50px;
 background: #0000ff;
 color: #ffffff;
 border-radius: 50%;
 border: 2px solid #0000ff;
 margin: 10px;
 right: 0;
 bottom: 0;
}

.no-touch #controlCenter:hover {
 background: rgba(0, 60, 136, 0.7) !important;
 color: #ffffff !important;
}

#controlMenu {
 position: absolute;
 z-index: 1;
 width: 50px;
 height: 50px;
 background: #ffffff;
 color: #000000;
 border-radius: 50%;
 border: 2px solid #0000ff;
 margin: 10px;
 right: 0;
 top: 0;
}

.no-touch #controlMenu:hover {
 background: rgba(0, 60, 136, 0.7) !important;
 color: #ffffff !important;
}

body.has-active-menu {
  overflow: hidden;
}

.menu {
 position: fixed;
 z-index: 2;
 background-color: #ffffff;
 transition: transform 0.3s;
 display: flex;
 flex-direction: column;
 max-height: 100vh;
}

.menu-push-right {
 width: 100%;
 height: 100%;
 top: 0;
 right: 0;
 transform: translateX(100%);
}

.menu-slide-bottom {
 width: 100%;
 height: auto;
 bottom: 0;
 right: 0;
 transform: translateY(100%);
}

@media all and (min-width: 320px) {
 .menu-push-right {
  width: 300px;
  transform: translateX(300px);
 }
}

.menu-push-right.is-active {
 transform: translateX(0);
}

.menu-slide-bottom.is-active {
 transform: translateY(0);
}

.mask {
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 overflow: hidden;
 width: 0;
 height: 0;
 background-color: #000;
 opacity: 0;
 transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
 width: 100%;
 height: 100%;
 opacity: 0.7;
 transition: opacity 0.3s;
}

.push-content {
 transition: transform 0.3s;
}

.push-content.has-push-right {
 transform: translateX(-100%);
}

@media all and (min-width: 320px) {
 .push-content.has-push-right {
  transform: translateX(-300px);
 }
}

#searchstate {
 height: 50px;
 z-index: 3;
 width: 100%;
 border: 2px solid #0000ff;
}

#controlSearchContainer {
 position: relative;
 display: flex;
 height: auto;
 z-index: 3;
}

#searchInputContainer {
 margin-left: 5px;
 margin-right: 5px;
}

#controlSearchInput {
 flex: 1 1;
}

#controlSearchButton {
 flex: 0 0;
 font-size: 10px;
 margin-left: 5px;
 margin-right: 5px;
 border: 2px solid #0000ff;
}

#searchresults {
 width: 100%;
 overflow: scroll;
 z-index: 1;
 margin-bottom: 2px;
 font-size: 32px;
 text-align: center;
 border-bottom: 2px solid #0000ff;
 flex: 1;
 line-height: 32px;
}

.search-result-button:first-child {
 border-top: 2px solid #0000ff;
}

.search-result-button {
 width: 100%;
 height: 50px;
 font-size: 32px;
 border-bottom: 2px solid #0000ff;
}

#controlSettings {
 width: 100%;
 height: 50px;
 font-size: 32px;
 border-top: 2px solid #0000ff;
 border-bottom: 2px solid #0000ff;
 border-left: none;
 border-right: none;
}

#menucontent {
 z-index: 2;
 flex: 0 0 auto;
}

.bottom-content {
 width: 100%
}

.fineprint {
 background: #ffffff;
 font-size: 10px;
 line-height: 10px;
 text-align: center;
}

#labelInputContainer {
 margin-left: 5px;
 width: calc(100% - 10px);
}

#buttonContainer {
 display: flex;
 width: 100%;
}

#buttonCancelMarker {
 flex: 1 1;
 margin: 5px;
}

#buttonSaveMarker {
 flex: 1 1;
 margin: 5px;
}

.tabButton {
 width: calc(50% - 2px);
 margin: 1px;
 display: inline;
 border: 2px solid #0000ff;
 height: 50px;
}

.tabView {
 flex: 1;
 display: inline-flex;
 flex-direction: column;
 min-height: fit-content;
}
